# Gemini API Key for book generations
GEMINI_API_KEY=your_gemini_api_key_here

# Supabase Configurations
PUBLIC_SUPABASE_URL=your_supabase_url_here
PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key_here
DB_PASSWORD=your_supabase_db_password_here

# Pixabay API Key (Optional for image search)
PIXABAY_API_KEY=your_pixabay_api_key_here

# Integration Shared Secret with PapeRobo
HYPERCARDBOOK_SHARED_SECRET=your_shared_secret_here

# Integration Shared Secret with HyperCardTV (tatenaga/hypertv-app)
HYPERTV_SHARED_SECRET=your_shared_secret_here

# Pricing Plans Activation Hashes and Admin Email
ADMIN_EMAILS=kouichi.nagata@gmail.com
STANDARD_ACTIVATION_CODE_HASH=945e45a2ad8d39ff4e69b596f29630e2f5b4a0f4a86f7b1df639c054238e8334
PRO_ACTIVATION_CODE_HASH=5ea751d3840e698ab9cb463c1a3577d6ad741f2fb8350cc8b91563f684cf0423
ENTERPRISE_ACTIVATION_CODE_HASH=fdf2998a65c92842e1329a28e75db353fef18f972b9a7c06eb18369324c4f3fa

# GitHub Client ID for integration
PUBLIC_GITHUB_CLIENT_ID=your_github_oauth_app_client_id

